In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:/Users/RISHABH/Documents/reportfarmers.csv')

In [3]:
df.head(5)

,Location_Code,Property_Size_Ha,Crop_Group_Name,Crop_Group_Code,Parish_Code,Parish_Extension_Code,District,Parish,Parish_Extension_Name,Crop_Name,Crop_Type_Code,Crop_Total_Area_Ha,Crop_Count_Total,Farmers
0,4,0.80,Cereals,600,2,1,BELMONT,ST.ANDREW,SALISBURY PLAIN,Corn (Ordinary),90,0.06,NaN,2
1,4,0.30,Condiments,400,2,1,BELMONT,ST.ANDREW,SALISBURY PLAIN,Escallion,69,0.01,5.0,1
2,4,9.00,Condiments,400,2,1,BELMONT,ST.ANDREW,SALISBURY PLAIN,Ginger,70,2.01,0.0,9
3,4,13.25,Condiments,400,2,1,BELMONT,ST.ANDREW,SALISBURY PLAIN,Hot Pepper,74,3.31,100.0,9
4,4,5.06,Condiments,400,2,1,BELMONT,ST.ANDREW,SALISBURY PLAIN,Sorrel,76,0.28,0.0,3

In [4]:
df[df['Crop_Type_Code']==70]['Crop_Name']

2        Ginger
174      Ginger
208      Ginger
244      Ginger
265      Ginger
311      Ginger
325      Ginger
364      Ginger
394      Ginger
478      Ginger
507      Ginger
517      Ginger
531      Ginger
544      Ginger
578      Ginger
596      Ginger
610      Ginger
617      Ginger
698      Ginger
709      Ginger
795      Ginger
899      Ginger
968      Ginger
1071     Ginger
1097     Ginger
1164     Ginger
1205     Ginger
1256     Ginger
1329     Ginger
1362     Ginger
          ...
80908    Ginger
80945    Ginger
81134    Ginger
81278    Ginger
81291    Ginger
81586    Ginger
81639    Ginger
81723    Ginger
81774    Ginger
81924    Ginger
81981    Ginger
82006    Ginger
82332    Ginger
82424    Ginger
82535    Ginger
82674    Ginger
83261    Ginger
83272    Ginger
83288    Ginger
83420    Ginger
83491    Ginger
83567    Ginger
83598    Ginger
83627    Ginger
83667    Ginger
83790    Ginger
83900    Ginger
84063    Ginger
84064    Ginger
84070    Ginger
Name: Crop_Name, Length: 736, dtype: object

In [5]:
df.tail(5)

,Location_Code,Property_Size_Ha,Crop_Group_Name,Crop_Group_Code,Parish_Code,Parish_Extension_Code,District,Parish,Parish_Extension_Name,Crop_Name,Crop_Type_Code,Crop_Total_Area_Ha,Crop_Count_Total,Farmers
84146,6537,0.6,Condiments,400,11,80,PARCHMENT TOWN,ST.ELIZABETH,JUNCTION,Sweet Pepper,68,0.20,NaN,1
84147,6537,0.6,Vegatables,300,11,80,PARCHMENT TOWN,ST.ELIZABETH,JUNCTION,Tomato,47,0.04,NaN,1
84148,6538,2.8,Condiments,400,11,40,POWELL TOWN,ST.ELIZABETH,SOUTHFIELD,Sweet Pepper,68,0.40,NaN,1
84149,6538,2.8,Fruits,500,11,40,POWELL TOWN,ST.ELIZABETH,SOUTHFIELD,Watermelon,81,0.20,NaN,1
84150,6538,2.8,Vegatables,300,11,40,POWELL TOWN,ST.ELIZABETH,SOUTHFIELD,Tomato,47,0.20,NaN,1

In [6]:
df = df.drop(df.columns[[0,2,3,4,5,6,7,8,9,13]], axis=1)

In [7]:
df.tail(5)

       Property_Size_Ha  Crop_Type_Code  Crop_Total_Area_Ha  Crop_Count_Total
84146               0.6              68                0.20               NaN
84147               0.6              47                0.04               NaN
84148               2.8              68                0.40               NaN
84149               2.8              81                0.20               NaN
84150               2.8              47                0.20               NaN

In [8]:
df.head(10)

   Property_Size_Ha  Crop_Type_Code  Crop_Total_Area_Ha  Crop_Count_Total
0              0.80              90                0.06               NaN
1              0.30              69                0.01               5.0
2              9.00              70                2.01               0.0
3             13.25              74                3.31             100.0
4              5.06              76                0.28               0.0
5              8.28              80                0.97             350.0
6              3.03              39                0.82               0.0
7              9.83              40                2.12              52.0
8              4.05              36                0.03             600.0
9              0.40              21                0.01               3.0

In [9]:
gf=df.set_index('Crop_Type_Code')

In [10]:
gf.head(10)

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
90                          0.80                0.06               NaN
69                          0.30                0.01               5.0
70                          9.00                2.01               0.0
74                         13.25                3.31             100.0
76                          5.06                0.28               0.0
80                          8.28                0.97             350.0
39                          3.03                0.82               0.0
40                          9.83                2.12              52.0
36                          4.05                0.03             600.0
21                          0.40                0.01               3.0

In [11]:
cf=gf.sort_index(axis = 0)

In [12]:
cf.tail(5)

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
130                        41.48                1.03              25.0
130                         0.81                0.01               0.0
130                         0.20                0.20               NaN
130                       121.41                4.05               NaN
136                         1.62                0.80               NaN

In [13]:
cf.head(10)

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
1                          10.11                0.03               5.0
1                          80.94               12.14               0.0
1                           1.21                0.12               3.0
1                           4.05                0.01               0.0
1                           4.44                0.06              12.0
1                           0.20                0.01               0.0
1                           2.02                0.40               NaN
1                           3.74                0.01               0.0
1                           0.81                0.04               0.0
1                           1.90                0.03               NaN

In [14]:
cf

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
1                          10.11                0.03               5.0
1                          80.94               12.14               0.0
1                           1.21                0.12               3.0
1                           4.05                0.01               0.0
1                           4.44                0.06              12.0
1                           0.20                0.01               0.0
1                           2.02                0.40               NaN
1                           3.74                0.01               0.0
1                           0.81                0.04               0.0
1                           1.90                0.03               NaN
1                           2.43                0.01               0.0
1                          21.85                0.02               0.0
1                           0.40                0.01               4.0
1                           0.61                0.04               0.0
1                           1.21                0.01               0.0
1                           6.07                0.01               5.0
1                           2.00                0.10               0.0
1                           3.03                3.80               NaN
1                          11.33               11.33               0.0
1                          28.33                0.01               0.0
1                          16.18                0.12               0.0
1                           0.20                0.04               0.0
1                          20.23                0.04               0.0
1                           1.21                0.04               NaN
1                           4.65                0.06               0.0
1                           1.52                0.17              34.0
1                           0.30                0.02               0.0
1                           0.01                0.20               0.0
1                           3.84                0.01               0.0
1                          15.37                0.03               0.0
...                          ...                 ...               ...
129                         3.04                0.40               NaN
130                       151.76                0.81               0.0
130                         1.21                0.12               NaN
130                         1.62                0.04               NaN
130                       177.25               24.28               0.0
130                         4.05                0.40             900.0
130                         1.62                0.04               NaN
130                         2.02                0.01               NaN
130                         1.42                0.61               NaN
130                         1.21                0.20               NaN
130                         4.04                0.48               0.0
130                         1.62                0.02               NaN
130                         0.40                0.08               NaN
130                         4.05                1.01               0.0
130                         2.40                1.20               NaN
130                         1.62                0.40               NaN
130                         8.50                4.00               0.0
130                         3.24                0.10               NaN
130                       177.25               24.28               0.0
130                         2.02                0.08               NaN
130                         1.21                0.08               NaN
130                       177.25               24.28               0.0
130                         1.62                0.20               NaN
130                         2.43                0.20               NaN
130                        20.23                2.02               NaN
130                        41.48                1.03              25.0
130                         0.81                0.01               0.0
130                         0.20                0.20               NaN
130                       121.41                4.05               NaN
136                         1.62                0.80               NaN

[84151 rows x 3 columns]

In [15]:
cf.head(10)

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
1                          10.11                0.03               5.0
1                          80.94               12.14               0.0
1                           1.21                0.12               3.0
1                           4.05                0.01               0.0
1                           4.44                0.06              12.0
1                           0.20                0.01               0.0
1                           2.02                0.40               NaN
1                           3.74                0.01               0.0
1                           0.81                0.04               0.0
1                           1.90                0.03               NaN

In [1]:
count = cf.groupby(['Crop_Type_Code']).count() 
print(count['Crop_Type_Code']=70)

SyntaxError: keyword can't be an expression (<ipython-input-1-146c2335e1ae>, line 2)

In [17]:
tg=cf.head(319)

In [18]:
tg

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
1                          10.11                0.03               5.0
1                          80.94               12.14               0.0
1                           1.21                0.12               3.0
1                           4.05                0.01               0.0
1                           4.44                0.06              12.0
1                           0.20                0.01               0.0
1                           2.02                0.40               NaN
1                           3.74                0.01               0.0
1                           0.81                0.04               0.0
1                           1.90                0.03               NaN
1                           2.43                0.01               0.0
1                          21.85                0.02               0.0
1                           0.40                0.01               4.0
1                           0.61                0.04               0.0
1                           1.21                0.01               0.0
1                           6.07                0.01               5.0
1                           2.00                0.10               0.0
1                           3.03                3.80               NaN
1                          11.33               11.33               0.0
1                          28.33                0.01               0.0
1                          16.18                0.12               0.0
1                           0.20                0.04               0.0
1                          20.23                0.04               0.0
1                           1.21                0.04               NaN
1                           4.65                0.06               0.0
1                           1.52                0.17              34.0
1                           0.30                0.02               0.0
1                           0.01                0.20               0.0
1                           3.84                0.01               0.0
1                          15.37                0.03               0.0
...                          ...                 ...               ...
1                           0.20                0.04               0.0
1                          21.86                0.04               0.0
1                           0.81                0.04               0.0
1                           1.42                0.01               0.0
1                           3.64                0.08               NaN
1                           3.03                0.06               0.0
1                           1.21                0.01               0.0
1                           6.46                0.09               0.0
1                         153.78                0.40               0.0
1                           1.21                0.01               0.0
1                           0.61                0.04               0.0
1                           1.01                0.04               0.0
1                           0.10                0.04               0.0
1                           1.21                0.04               0.0
1                           4.06                0.05              15.0
1                           2.02                0.04               0.0
1                           2.12                0.03               0.0
1                           0.81                0.04               0.0
1                           0.81                0.04               0.0
1                           0.30                0.03               0.0
1                           1.82                0.01               0.0
1                           0.20                0.01            1000.0
1                           0.51                0.05              10.0
1                           1.21                0.04               0.0
1                           2.43                0.08               0.0
1                           0.81                0.01               0.0
1                           2.82                0.03               0.0
1                           0.40                0.04               0.0
1                           2.83                0.13               0.0
1                           0.91                0.01               0.0

[319 rows x 3 columns]

In [19]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
imputer = imputer.fit(tg.iloc[:, 2:3])
tg.iloc[:, 2:3] = imputer.transform(tg.iloc[:, 2:3])

E:\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
E:\Anaconda\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
E:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [20]:
tg

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
1                          10.11                0.03               5.0
1                          80.94               12.14               0.0
1                           1.21                0.12               3.0
1                           4.05                0.01               0.0
1                           4.44                0.06              12.0
1                           0.20                0.01               0.0
1                           2.02                0.40               0.0
1                           3.74                0.01               0.0
1                           0.81                0.04               0.0
1                           1.90                0.03               0.0
1                           2.43                0.01               0.0
1                          21.85                0.02               0.0
1                           0.40                0.01               4.0
1                           0.61                0.04               0.0
1                           1.21                0.01               0.0
1                           6.07                0.01               5.0
1                           2.00                0.10               0.0
1                           3.03                3.80               0.0
1                          11.33               11.33               0.0
1                          28.33                0.01               0.0
1                          16.18                0.12               0.0
1                           0.20                0.04               0.0
1                          20.23                0.04               0.0
1                           1.21                0.04               0.0
1                           4.65                0.06               0.0
1                           1.52                0.17              34.0
1                           0.30                0.02               0.0
1                           0.01                0.20               0.0
1                           3.84                0.01               0.0
1                          15.37                0.03               0.0
...                          ...                 ...               ...
1                           0.20                0.04               0.0
1                          21.86                0.04               0.0
1                           0.81                0.04               0.0
1                           1.42                0.01               0.0
1                           3.64                0.08               0.0
1                           3.03                0.06               0.0
1                           1.21                0.01               0.0
1                           6.46                0.09               0.0
1                         153.78                0.40               0.0
1                           1.21                0.01               0.0
1                           0.61                0.04               0.0
1                           1.01                0.04               0.0
1                           0.10                0.04               0.0
1                           1.21                0.04               0.0
1                           4.06                0.05              15.0
1                           2.02                0.04               0.0
1                           2.12                0.03               0.0
1                           0.81                0.04               0.0
1                           0.81                0.04               0.0
1                           0.30                0.03               0.0
1                           1.82                0.01               0.0
1                           0.20                0.01            1000.0
1                           0.51                0.05              10.0
1                           1.21                0.04               0.0
1                           2.43                0.08               0.0
1                           0.81                0.01               0.0
1                           2.82                0.03               0.0
1                           0.40                0.04               0.0
1                           2.83                0.13               0.0
1                           0.91                0.01               0.0

[319 rows x 3 columns]

In [21]:
fg=cf[319:367]

In [22]:
fg

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
2                           0.20                0.20               NaN
2                           1.11                0.40               0.0
2                           1.21                0.01               NaN
2                           1.70                0.08               0.0
2                           1.31                0.05               NaN
2                           2.43                0.08               NaN
2                           1.01                0.04               NaN
2                          16.19                0.40               NaN
2                          16.18                0.16               0.0
2                           2.02                0.08               0.0
2                           1.21                0.04               NaN
2                           0.30                0.01               0.0
2                           0.34                0.04               0.0
2                          14.56                1.01             880.0
2                           0.81                0.01               NaN
2                           0.20                0.10               NaN
2                           0.81                0.12               NaN
2                           0.10                0.02             430.0
2                           0.30                0.01               NaN
2                           0.61                0.04               0.0
2                           1.62                0.04               NaN
2                           0.40                0.01               NaN
2                           3.20                0.04               NaN
2                           2.02                0.12              60.0
2                           2.02                0.10               NaN
2                           0.61                0.02               NaN
2                           1.01                2.02               0.0
2                           0.20                0.08               0.0
2                           1.42                0.40               0.0
2                           1.00                0.01               NaN
2                           4.86                0.04               0.0
2                           0.81                0.02               0.0
2                           0.30                0.08               NaN
2                           4.04                4.04               NaN
2                          19.42                0.20               NaN
2                           0.16                0.04               0.0
2                           1.21                0.08               NaN
2                           0.20                0.01            1200.0
2                          10.52                0.20               0.0
2                           2.63                0.04               NaN
2                           0.22                0.08               0.0
2                           2.02                0.16               0.0
2                           1.21                0.02               0.0
2                          19.02                4.05               NaN
2                           0.12                0.03               2.0
2                           0.30                0.04               0.0
2                           0.40                0.40               NaN
2                           2.00                0.01               NaN

In [23]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
imputer = imputer.fit(fg.iloc[:, 2:3])
fg.iloc[:, 2:3] = imputer.transform(fg.iloc[:, 2:3])

E:\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
E:\Anaconda\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
E:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [24]:
fg

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
2                           0.20                0.20               0.0
2                           1.11                0.40               0.0
2                           1.21                0.01               0.0
2                           1.70                0.08               0.0
2                           1.31                0.05               0.0
2                           2.43                0.08               0.0
2                           1.01                0.04               0.0
2                          16.19                0.40               0.0
2                          16.18                0.16               0.0
2                           2.02                0.08               0.0
2                           1.21                0.04               0.0
2                           0.30                0.01               0.0
2                           0.34                0.04               0.0
2                          14.56                1.01             880.0
2                           0.81                0.01               0.0
2                           0.20                0.10               0.0
2                           0.81                0.12               0.0
2                           0.10                0.02             430.0
2                           0.30                0.01               0.0
2                           0.61                0.04               0.0
2                           1.62                0.04               0.0
2                           0.40                0.01               0.0
2                           3.20                0.04               0.0
2                           2.02                0.12              60.0
2                           2.02                0.10               0.0
2                           0.61                0.02               0.0
2                           1.01                2.02               0.0
2                           0.20                0.08               0.0
2                           1.42                0.40               0.0
2                           1.00                0.01               0.0
2                           4.86                0.04               0.0
2                           0.81                0.02               0.0
2                           0.30                0.08               0.0
2                           4.04                4.04               0.0
2                          19.42                0.20               0.0
2                           0.16                0.04               0.0
2                           1.21                0.08               0.0
2                           0.20                0.01            1200.0
2                          10.52                0.20               0.0
2                           2.63                0.04               0.0
2                           0.22                0.08               0.0
2                           2.02                0.16               0.0
2                           1.21                0.02               0.0
2                          19.02                4.05               0.0
2                           0.12                0.03               2.0
2                           0.30                0.04               0.0
2                           0.40                0.40               0.0
2                           2.00                0.01               0.0

In [25]:
rg=cf[367:497]

In [26]:
rg

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
3                           1.21                0.40               0.0
3                           0.80                0.04               0.0
3                           0.40                0.20               NaN
3                           3.64                0.10               0.0
3                           0.49                0.20               0.0
3                           1.21                0.16               0.0
3                           3.14                0.08               0.0
3                           0.40                0.02               0.0
3                          13.49                5.92             200.0
3                           2.02                0.04               0.0
3                           6.29                2.40               0.0
3                          18.34                1.72               0.0
3                          18.21                0.60               0.0
3                           2.02                0.04               0.0
3                           0.40                0.04               NaN
3                           3.12                0.68               0.0
3                           0.20                0.40               NaN
3                           4.05                0.01               NaN
3                           0.20                0.20               0.0
3                           6.07                0.40               0.0
3                          86.20                0.20               0.0
3                           3.44                0.02               NaN
3                           1.21                0.10               0.0
3                           0.20                0.20               0.0
3                           1.82                0.04               0.0
3                          40.47                0.06               0.0
3                           0.24                0.02               NaN
3                         202.34                0.01             100.0
3                           2.00                0.10               0.0
3                           1.21                0.04               0.0
...                          ...                 ...               ...
3                           0.81                0.81               0.0
3                           0.81                0.30               0.0
3                           1.01                0.06               NaN
3                           0.61                0.40               0.0
3                           1.21                0.12               0.0
3                           4.05                1.62               0.0
3                           1.21                0.04               0.0
3                           2.02                0.04               NaN
3                           0.08                0.12               0.0
3                           0.04                0.04               0.0
3                           0.10                0.10               0.0
3                           0.81                0.12               0.0
3                           2.02                0.04               0.0
3                           6.27                0.66               0.0
3                           0.61                0.20               0.0
3                           0.81                0.20               0.0
3                           2.42                0.80               0.0
3                           4.04                0.18               0.0
3                           7.28                0.40               0.0
3                           2.33                0.40               0.0
3                           3.24                0.20               NaN
3                           0.81                0.12               0.0
3                           2.00                0.08               NaN
3                          10.12                0.40               0.0
3                           0.81                0.04               0.0
3                           2.02                0.24               NaN
3                          45.00                1.60               0.0
3                          15.78                0.08               0.0
3                           0.61                0.04               0.0
3                           0.81                0.04               0.0

[130 rows x 3 columns]

In [27]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
imputer = imputer.fit(rg.iloc[:, 2:3])
rg.iloc[:, 2:3] = imputer.transform(rg.iloc[:, 2:3])

E:\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
E:\Anaconda\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
E:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [28]:
rg.insert(3, "Crop_Name", 'Tobacco')

In [29]:
rg

,Property_Size_Ha,Crop_Total_Area_Ha,Crop_Count_Total,Crop_Name
Crop_Type_Code,,,,
3,1.21,0.40,0.0,Tobacco
3,0.80,0.04,0.0,Tobacco
3,0.40,0.20,0.0,Tobacco
3,3.64,0.10,0.0,Tobacco
3,0.49,0.20,0.0,Tobacco
3,1.21,0.16,0.0,Tobacco
3,3.14,0.08,0.0,Tobacco
3,0.40,0.02,0.0,Tobacco
3,13.49,5.92,200.0,Tobacco
3,2.02,0.04,0.0,Tobacco
3,6.29,2.40,0.0,Tobacco
3,18.34,1.72,0.0,Tobacco
3,18.21,0.60,0.0,Tobacco
3,2.02,0.04,0.0,Tobacco
3,0.40,0.04,0.0,Tobacco
3,3.12,0.68,0.0,Tobacco
3,0.20,0.40,0.0,Tobacco
3,4.05,0.01,0.0,Tobacco
3,0.20,0.20,0.0,Tobacco
3,6.07,0.40,0.0,Tobacco
3,86.20,0.20,0.0,Tobacco
3,3.44,0.02,0.0,Tobacco
3,1.21,0.10,0.0,Tobacco
3,0.20,0.20,0.0,Tobacco
3,1.82,0.04,0.0,Tobacco
3,40.47,0.06,0.0,Tobacco
3,0.24,0.02,0.0,Tobacco
3,202.34,0.01,100.0,Tobacco
3,2.00,0.10,0.0,Tobacco
3,1.21,0.04,0.0,Tobacco
...,...,...,...,...
3,0.81,0.81,0.0,Tobacco
3,0.81,0.30,0.0,Tobacco
3,1.01,0.06,0.0,Tobacco
3,0.61,0.40,0.0,Tobacco
3,1.21,0.12,0.0,Tobacco
3,4.05,1.62,0.0,Tobacco
3,1.21,0.04,0.0,Tobacco
3,2.02,0.04,0.0,Tobacco
3,0.08,0.12,0.0,Tobacco
3,0.04,0.04,0.0,Tobacco
3,0.10,0.10,0.0,Tobacco
3,0.81,0.12,0.0,Tobacco
3,2.02,0.04,0.0,Tobacco
3,6.27,0.66,0.0,Tobacco
3,0.61,0.20,0.0,Tobacco
3,0.81,0.20,0.0,Tobacco
3,2.42,0.80,0.0,Tobacco
3,4.04,0.18,0.0,Tobacco
3,7.28,0.40,0.0,Tobacco
3,2.33,0.40,0.0,Tobacco
3,3.24,0.20,0.0,Tobacco
3,0.81,0.12,0.0,Tobacco
3,2.00,0.08,0.0,Tobacco
3,10.12,0.40,0.0,Tobacco
3,0.81,0.04,0.0,Tobacco
3,2.02,0.24,0.0,Tobacco
3,45.00,1.60,0.0,Tobacco
3,15.78,0.08,0.0,Tobacco
3,0.61,0.04,0.0,Tobacco
3,0.81,0.04,0.0,Tobacco

In [30]:
rg['Yeild(Qunitol/Heactare)'] =(rg['Crop_Count_Total']/rg['Crop_Total_Area_Ha'])*(0.00170)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
rg

,Property_Size_Ha,Crop_Total_Area_Ha,Crop_Count_Total,Crop_Name,Yeild(Qunitol/Heactare)
Crop_Type_Code,,,,,
3,1.21,0.40,0.0,Tobacco,0.000000
3,0.80,0.04,0.0,Tobacco,0.000000
3,0.40,0.20,0.0,Tobacco,0.000000
3,3.64,0.10,0.0,Tobacco,0.000000
3,0.49,0.20,0.0,Tobacco,0.000000
3,1.21,0.16,0.0,Tobacco,0.000000
3,3.14,0.08,0.0,Tobacco,0.000000
3,0.40,0.02,0.0,Tobacco,0.000000
3,13.49,5.92,200.0,Tobacco,0.057432
3,2.02,0.04,0.0,Tobacco,0.000000
3,6.29,2.40,0.0,Tobacco,0.000000
3,18.34,1.72,0.0,Tobacco,0.000000
3,18.21,0.60,0.0,Tobacco,0.000000
3,2.02,0.04,0.0,Tobacco,0.000000
3,0.40,0.04,0.0,Tobacco,0.000000
3,3.12,0.68,0.0,Tobacco,0.000000
3,0.20,0.40,0.0,Tobacco,0.000000
3,4.05,0.01,0.0,Tobacco,0.000000
3,0.20,0.20,0.0,Tobacco,0.000000
3,6.07,0.40,0.0,Tobacco,0.000000
3,86.20,0.20,0.0,Tobacco,0.000000
3,3.44,0.02,0.0,Tobacco,0.000000
3,1.21,0.10,0.0,Tobacco,0.000000
3,0.20,0.20,0.0,Tobacco,0.000000
3,1.82,0.04,0.0,Tobacco,0.000000
3,40.47,0.06,0.0,Tobacco,0.000000
3,0.24,0.02,0.0,Tobacco,0.000000
3,202.34,0.01,100.0,Tobacco,17.000000
3,2.00,0.10,0.0,Tobacco,0.000000
3,1.21,0.04,0.0,Tobacco,0.000000
...,...,...,...,...,...
3,0.81,0.81,0.0,Tobacco,0.000000
3,0.81,0.30,0.0,Tobacco,0.000000
3,1.01,0.06,0.0,Tobacco,0.000000
3,0.61,0.40,0.0,Tobacco,0.000000
3,1.21,0.12,0.0,Tobacco,0.000000
3,4.05,1.62,0.0,Tobacco,0.000000
3,1.21,0.04,0.0,Tobacco,0.000000
3,2.02,0.04,0.0,Tobacco,0.000000
3,0.08,0.12,0.0,Tobacco,0.000000
3,0.04,0.04,0.0,Tobacco,0.000000
3,0.10,0.10,0.0,Tobacco,0.000000
3,0.81,0.12,0.0,Tobacco,0.000000
3,2.02,0.04,0.0,Tobacco,0.000000
3,6.27,0.66,0.0,Tobacco,0.000000
3,0.61,0.20,0.0,Tobacco,0.000000
3,0.81,0.20,0.0,Tobacco,0.000000
3,2.42,0.80,0.0,Tobacco,0.000000
3,4.04,0.18,0.0,Tobacco,0.000000
3,7.28,0.40,0.0,Tobacco,0.000000
3,2.33,0.40,0.0,Tobacco,0.000000
3,3.24,0.20,0.0,Tobacco,0.000000
3,0.81,0.12,0.0,Tobacco,0.000000
3,2.00,0.08,0.0,Tobacco,0.000000
3,10.12,0.40,0.0,Tobacco,0.000000
3,0.81,0.04,0.0,Tobacco,0.000000
3,2.02,0.24,0.0,Tobacco,0.000000
3,45.00,1.60,0.0,Tobacco,0.000000
3,15.78,0.08,0.0,Tobacco,0.000000
3,0.61,0.04,0.0,Tobacco,0.000000
3,0.81,0.04,0.0,Tobacco,0.000000

In [32]:
X=rg.iloc[:,0:3]
X

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
3                           1.21                0.40               0.0
3                           0.80                0.04               0.0
3                           0.40                0.20               0.0
3                           3.64                0.10               0.0
3                           0.49                0.20               0.0
3                           1.21                0.16               0.0
3                           3.14                0.08               0.0
3                           0.40                0.02               0.0
3                          13.49                5.92             200.0
3                           2.02                0.04               0.0
3                           6.29                2.40               0.0
3                          18.34                1.72               0.0
3                          18.21                0.60               0.0
3                           2.02                0.04               0.0
3                           0.40                0.04               0.0
3                           3.12                0.68               0.0
3                           0.20                0.40               0.0
3                           4.05                0.01               0.0
3                           0.20                0.20               0.0
3                           6.07                0.40               0.0
3                          86.20                0.20               0.0
3                           3.44                0.02               0.0
3                           1.21                0.10               0.0
3                           0.20                0.20               0.0
3                           1.82                0.04               0.0
3                          40.47                0.06               0.0
3                           0.24                0.02               0.0
3                         202.34                0.01             100.0
3                           2.00                0.10               0.0
3                           1.21                0.04               0.0
...                          ...                 ...               ...
3                           0.81                0.81               0.0
3                           0.81                0.30               0.0
3                           1.01                0.06               0.0
3                           0.61                0.40               0.0
3                           1.21                0.12               0.0
3                           4.05                1.62               0.0
3                           1.21                0.04               0.0
3                           2.02                0.04               0.0
3                           0.08                0.12               0.0
3                           0.04                0.04               0.0
3                           0.10                0.10               0.0
3                           0.81                0.12               0.0
3                           2.02                0.04               0.0
3                           6.27                0.66               0.0
3                           0.61                0.20               0.0
3                           0.81                0.20               0.0
3                           2.42                0.80               0.0
3                           4.04                0.18               0.0
3                           7.28                0.40               0.0
3                           2.33                0.40               0.0
3                           3.24                0.20               0.0
3                           0.81                0.12               0.0
3                           2.00                0.08               0.0
3                          10.12                0.40               0.0
3                           0.81                0.04               0.0
3                           2.02                0.24               0.0
3                          45.00                1.60               0.0
3                          15.78                0.08               0.0
3                           0.61                0.04               0.0
3                           0.81                0.04               0.0

[130 rows x 3 columns]

In [33]:
y=rg.iloc[:,4]
y

Crop_Type_Code
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.057432
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3    17.000000
3     0.000000
3     0.000000
       ...
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
3     0.000000
Name: Yeild(Qunitol/Heactare), Length: 130, dtype: float64

In [34]:
from sklearn.model_selection import train_test_split 
X_train , X_test, y_train , y_test =train_test_split(X,y,test_size =0.25 ,random_state = 3 )

In [35]:
pd.DataFrame(X_train)

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
3                           0.49                0.20               0.0
3                          18.21                0.60               0.0
3                           0.81                0.81               0.0
3                           8.09                0.08               0.0
3                         141.64                1.21               0.0
3                          18.34                1.72               0.0
3                           0.20                0.08               0.0
3                           4.04                0.18               0.0
3                           2.02                0.04               0.0
3                          10.12                0.40               0.0
3                           0.40                0.40               0.0
3                           6.27                0.66               0.0
3                           1.01                0.04               0.0
3                           2.02                0.57               0.0
3                         202.34                0.01             100.0
3                           1.00                0.01               0.0
3                           1.01                0.06               0.0
3                           3.24                0.20               0.0
3                           0.73                0.13               0.0
3                           0.81                0.20               0.0
3                          32.45                2.09               0.0
3                           0.81                0.12               0.0
3                           2.63                0.40               0.0
3                          60.70                0.01               0.0
3                           0.81                0.04               0.0
3                           2.83                0.81               0.0
3                          15.18                0.50               0.0
3                           4.05                0.61               0.0
3                           1.62                0.08               0.0
3                           0.81                0.40               0.0
...                          ...                 ...               ...
3                           1.62                0.40               0.0
3                           0.04                0.04               0.0
3                           2.83                0.01               0.0
3                           0.80                0.04               0.0
3                           0.81                0.42               0.0
3                           3.24                0.20               0.0
3                           0.40                0.20               0.0
3                           0.20                0.03               0.0
3                           1.21                0.10               0.0
3                           2.83                0.20               0.0
3                           1.42                0.06               0.0
3                           0.24                0.02               0.0
3                           0.40                0.04               0.0
3                           1.42                0.20               0.0
3                           2.02                0.12               0.0
3                           0.20                0.02               0.0
3                          86.20                0.20               0.0
3                           0.81                0.81               0.0
3                           0.20                0.01              20.0
3                          15.78                0.08               0.0
3                           6.29                2.40               0.0
3                           3.64                0.40               0.0
3                           0.81                0.12               0.0
3                           2.02                0.04               0.0
3                           0.81                0.18               0.0
3                           6.07                0.40               0.0
3                           2.02                0.24               0.0
3                           3.44                0.02               0.0
3                           1.21                0.40               0.0
3                           1.21                0.04               0.0

[97 rows x 3 columns]

In [36]:
pd.DataFrame(X_test)

                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
Crop_Type_Code
3                           4.13                0.40               0.0
3                           1.62                0.20               0.0
3                           2.02                0.04               0.0
3                           0.08                0.12               0.0
3                           3.12                0.68               0.0
3                           3.14                0.08               0.0
3                           8.09                0.30               0.0
3                           3.24                2.02               0.0
3                          13.49                5.92             200.0
3                           1.21                0.16               0.0
3                           0.10                0.10               0.0
3                           2.02                0.01            1000.0
3                           0.49                0.12               0.0
3                           0.81                0.04               0.0
3                           2.00                0.08               0.0
3                           0.61                0.04               0.0
3                           7.28                0.40               0.0
3                           4.05                0.01               0.0
3                          40.47                0.06               0.0
3                           8.49                0.24               0.0
3                           0.20                0.20               0.0
3                           1.43                0.32               0.0
3                           1.42                0.20               0.0
3                           1.62                0.40               0.0
3                          10.12                0.40               0.0
3                           3.64                0.10               0.0
3                           2.43                2.02               0.0
3                           0.81                0.04               0.0
3                           0.60                0.08               0.0
3                           0.40                0.20               0.0
3                           1.21                0.12               0.0
3                           2.43                0.01              12.0
3                          45.00                1.60               0.0

In [37]:
pd.DataFrame(y_test)

                Yeild(Qunitol/Heactare)
Crop_Type_Code
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.057432
3                              0.000000
3                              0.000000
3                            170.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              0.000000
3                              2.040000
3                              0.000000

In [38]:
pd.DataFrame(y_train)

                Yeild(Qunitol/Heactare)
Crop_Type_Code
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                  17.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
...                                 ...
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   3.4
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0
3                                   0.0

[97 rows x 1 columns]

### ML Linear Regression Model

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
regressor=LinearRegression()

In [41]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
y_pred=regressor.predict(X_test)

In [43]:
y_pred, y_test

(array([-2.28088753e-17, -3.48317989e-17,  7.22485736e-18, -5.11433759e-17,
        -1.03060536e-16,  2.28915463e-17,  8.30920797e-17, -3.80819818e-16,
         3.40000000e+01, -3.52620898e-17, -4.65300853e-17,  1.70000000e+02,
        -4.23448925e-17, -1.87413985e-17, -1.57252946e-18, -2.30333416e-17,
         4.47892288e-17,  5.70642244e-17,  8.28166825e-16,  1.04228255e-16,
        -6.53045950e-17, -6.40137223e-17, -3.91237420e-17, -7.66727614e-17,
         1.05734821e-16,  2.94373078e-17, -3.98202188e-16, -1.87413985e-17,
        -3.16161313e-17, -6.10126519e-17, -2.68938973e-17,  2.04000000e+00,
         6.03203925e-16]), Crop_Type_Code
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.057432
 3      0.000000
 3      0.000000
 3    170.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      2.040000
 3      0.000000
 Name: Yeild(Qunitol/Heactare), dtype: float64)

### ML Polynomial Linear Regression

In [44]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree= 3)
X_poly=  poly_reg.fit_transform(X_train)
lin_reg_2 =LinearRegression()
lin_reg_2.fit(X_poly,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
X_test_poly=  poly_reg.fit_transform(X_test)

In [46]:
y_pr= lin_reg_2.predict(X_test_poly)

In [47]:
y_pr,y_test

(array([-2.47424088e-16,  1.44408506e-15,  1.74753258e-15,  2.46614017e-15,
        -1.90497607e-16,  1.03707279e-15, -2.00870019e-15, -1.15418006e-16,
         3.37265894e+03,  1.76824807e-15,  2.52461136e-15,  4.24213568e+05,
         2.25916879e-15,  2.37307856e-15,  1.62268446e-15,  2.47630437e-15,
        -1.76720894e-15,  7.94827596e-16, -1.59738380e-14, -2.09732007e-15,
         2.14701861e-15,  1.21475113e-15,  1.54342709e-15,  9.37618616e-16,
        -3.16090081e-15,  7.18263758e-16, -7.70837634e-17,  2.37307856e-15,
         2.33945785e-15,  2.04836430e-15,  1.89483211e-15,  7.17924794e-01,
        -1.83177980e-14]), Crop_Type_Code
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.057432
 3      0.000000
 3      0.000000
 3    170.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      0.000000
 3      2.040000
 3      0.000000
 Name: Yeild(Qunitol/Heactare), dtype: float64)

### ML Support Vector Regressor

In [48]:
X, y

(                Property_Size_Ha  Crop_Total_Area_Ha  Crop_Count_Total
 Crop_Type_Code
 3                           1.21                0.40               0.0
 3                           0.80                0.04               0.0
 3                           0.40                0.20               0.0
 3                           3.64                0.10               0.0
 3                           0.49                0.20               0.0
 3                           1.21                0.16               0.0
 3                           3.14                0.08               0.0
 3                           0.40                0.02               0.0
 3                          13.49                5.92             200.0
 3                           2.02                0.04               0.0
 3                           6.29                2.40               0.0
 3                          18.34                1.72               0.0
 3                          18.21                0.60               0.0
 3                           2.02                0.04               0.0
 3                           0.40                0.04               0.0
 3                           3.12                0.68               0.0
 3                           0.20                0.40               0.0
 3                           4.05                0.01               0.0
 3                           0.20                0.20               0.0
 3                           6.07                0.40               0.0
 3                          86.20                0.20               0.0
 3                           3.44                0.02               0.0
 3                           1.21                0.10               0.0
 3                           0.20                0.20               0.0
 3                           1.82                0.04               0.0
 3                          40.47                0.06               0.0
 3                           0.24                0.02               0.0
 3                         202.34                0.01             100.0
 3                           2.00                0.10               0.0
 3                           1.21                0.04               0.0
 ...                          ...                 ...               ...
 3                           0.81                0.81               0.0
 3                           0.81                0.30               0.0
 3                           1.01                0.06               0.0
 3                           0.61                0.40               0.0
 3                           1.21                0.12               0.0
 3                           4.05                1.62               0.0
 3                           1.21                0.04               0.0
 3                           2.02                0.04               0.0
 3                           0.08                0.12               0.0
 3                           0.04                0.04               0.0
 3                           0.10                0.10               0.0
 3                           0.81                0.12               0.0
 3                           2.02                0.04               0.0
 3                           6.27                0.66               0.0
 3                           0.61                0.20               0.0
 3                           0.81                0.20               0.0
 3                           2.42                0.80               0.0
 3                           4.04                0.18               0.0
 3                           7.28                0.40               0.0
 3                           2.33                0.40               0.0
 3                           3.24                0.20               0.0
 3                           0.81                0.12               0.0
 3                           2.00                0.08               0.0
 3                          10.12                0.40               0.0
 3                           0.81                0.04               0.0
 3                           2.02                0.24               0.0
 3                          45.00                1.60               0.0
 3                          15.78                0.08               0.0
 3                           0.61                0.04               0.0
 3                           0.81                0.04               0.0

 [130 rows x 3 columns], Crop_Type_Code
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.057432
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3    17.000000
 3     0.000000
 3     0.000000
        ...
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 3     0.000000
 Name: Yeild(Qunitol/Heactare), Length: 130, dtype: float64)

In [49]:
from sklearn.model_selection import train_test_split 
X_train , X_test, y_train , y_test =train_test_split(X,y,test_size =0.25 ,random_state = 2 )

In [50]:
y_train =  np.asarray(y_train)

In [51]:
y_train

array([0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       1.70000000e+01, 2.04000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.74324324e-02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.70000000e+02, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 3.40000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00])

In [52]:
y_train_new  =  np.reshape(y_train, (-1,1))

In [53]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_y =  StandardScaler()
X_train= sc_x.fit_transform(X_train)
y_train = sc_y.fit_transform(y_train_new)

In [54]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf')
regressor.fit(X_train,y_train)

E:\Anaconda\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [55]:
y_p = regressor.predict(sc_x.fit_transform(X_test))
y_p = sc_y.inverse_transform(y_p)

In [56]:
y_p

array([1.63735975, 1.51277544, 1.21823801, 1.5192755 , 6.9419363 ,
       1.58178292, 1.58933025, 1.17476106, 1.53931427, 1.4711005 ,
       1.60597575, 1.30236673, 1.56722335, 1.55838013, 1.5637542 ,
       1.62756703, 1.55822463, 1.61703611, 1.38468269, 1.58098482,
       1.49758849, 1.38933496, 1.18201445, 1.57015418, 1.57564099,
       1.4968084 , 1.39256265, 1.6009826 , 1.58397269, 1.4827484 ,
       1.47244851, 1.60743091, 1.33404004])

In [57]:
y_test

Crop_Type_Code
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
3    0.0
Name: Yeild(Qunitol/Heactare), dtype: float64